<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prune</key>
	<dict>
		<key>Title</key>
		<string>Prune Title</string>
		<key>Description</key>
		<string>Prune Description</string>
	</dict>
</dict>
</plist>
